@font-face {
	font-family: 'Gotham';
	font-weight: normal;
	font-style: normal;
	src: local('Gotham Book'), local('Gotham Book'), url(../fonts/Gotham-Book.woff) format('woff')
}

@font-face {
	font-family: 'Gotham';
	font-weight: 300;
	font-style: normal;
	src: local('Gotham Light'), local('Gotham Light'), url(../fonts/Gotham-Light.woff) format('woff')
}

@font-face {
	font-family: 'Gotham';
	font-weight: bold;
	font-style: normal;
	src: local('Gotham Bold'), local('Gotham Bold'), url(../fonts/Gotham-Bold.woff) format('woff')
}

@font-face {
	font-family: 'Gotham';
	font-weight: 500;
	font-style: normal;
	src: local('Gotham Medium'), local('Gotham Medium'), url(../fonts/Gotham-Medium.woff) format('woff')
}

