@mixin clearfix() {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */

    &:before,
    &:after {
        content: '';
        display: table;
    }

    &:after { clear: both; }
}

@mixin normalise-list() {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

@mixin objectfit() {
	width: 100%;
	height: 100%;
    object-fit: cover;
	object-position: center center;
}

@mixin icomoon($glyph) {
    @extend %icomoon;
    content: $glyph;
}

@mixin visuallyhidden() {
    position: absolute;
    overflow: hidden;
    clip: rect(0 0 0 0);
    height: 1px; width: 1px;
    margin: -1px;
    padding: 0;
    border: 0;
}

@mixin mobile {
  @media (max-width: $bpTablet - 1) {
    @content;
  }
}

@mixin tablet {
  @media (min-width: $bpTablet) and (max-width: $bpDesktop - 1) {
    @content;
  }
}

@mixin nonDesktop {
  @media (max-width: $bpDesktop - 1) {
    @content;
  }
}

@mixin nonMobile {
  @media (min-width: $bpTablet) {
    @content;
  }
}

@mixin desktop {
  @media (min-width: $bpDesktop) {
    @content;
  }
}

@mixin lgDesktop {
  @media (min-width: $bpLgDesktop) {
    @content;
  }
}

@mixin noHover {
	@media (hover:none), (hover:on-demand) {
		@content;
	}
}

/* Functions */
@function calc-em($target, $context: $base) {
    @return $target / $context * 1em;
}
