// Breakpoints
$bpMobile: 320px;
$bpLgMobile: 480px;
$bpTablet: 768px;
$bpDesktop: 1024px;
$bpLgDesktop: 1280px;

// Fonts
$base: 16;
$thin: 300;
$normal: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$ultra-bold: 900;

$primaryfont:  'Gotham', sans-serif;

// Colors
$bodycolor: #555555;
$bgcolor: #f0acc5;

$black: #000;
$white: #fff;

$salmon: #f15e40;
$pink: #f09099;
$yellow: #fbc437;
$gold: #e5c876;
$red: #fd1208;
$red-hover: darken($red, 5%);
$orange: #ff6b06;

$btn-bgcolor: $salmon;
$btn-bghover: darken($salmon, 5%);
$header-bgcolor: $salmon;
$product-bgcolor: $pink;
