// Normalize Styles
@import "node_modules/normalize.css/normalize";

@import "_fonts";
@import "_vars";
@import "_mixins";
@import "_helpers";
@import "_grid";

// Import Modules

// Box sizing partial styles:
// Apply a natural box layout model to all elements
*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: $primaryfont;
    margin: 0;
    padding: 0;
}

body {
    background:  {
        image: url('../images/background.jpg');
        color: $bgcolor;
        repeat: no-repeat;
        position: top center;
        size: 100%;
    }
}

.container {
    max-width: 1180px;
    margin: 0 auto;
    padding: 0 40px;
    position: relative;

    @include nonMobile {
        padding: 0 80px;
    }
}

img {
    max-width: 100%;
}

.btn-container {
    text-align: center;
    margin: 30px 0;
}

.btn {
    padding: 10px 20px;
    background: $salmon;
    color: $white;
    font-weight: 500;
    text-decoration: none;
    margin-left: 10px;
    position: relative;
    display: inline-block;
    font-size: calc-em(20);

    span {
        display: inline-block;
        position: relative;
        z-index: 3;
    }

    &:before {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        transform: translate(-80%, -50%);
        width: 54px;
        height: 45px;
        z-index: 2;
        background: {
            image: url('../images/btn-flower.png');
            repeat: no-repeat;
            size: cover;
        }
    }

    &:after {
        content: '';
        display: block;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
        position: absolute;
        background: $btn-bghover;
        transform: scaleX(0);
        transform-origin: left;
        transition: transform .25s ease-in-out;
    }

    &:hover,
    &:focus {
        &:after {
            transform: scaleX(1);
        }
    }
}

.logo {
    position: fixed;
    right: 0;
    top: 55px;
    width: 30px;

    @include tablet {
        width: 50px;
    }

    @include desktop {
        width: 70px;
    }
}

.logo__img {
    display: block;
    width: 100%;
}

.header {
    padding-top: 30px;
    text-align: right;
    position: relative;
    z-index: 2;

    @include clearfix();
}

.header__title,
.header__subtitle {
    text-transform: uppercase;
    float: right;
    clear: both;
    position: relative;
    z-index: 2;
}

.header__title {
    font-weight: 400;
    color: $gold;
    text-shadow: 2px 2px 2Px rgba(0, 0, 0, 0.6);
    margin-bottom: 0;

    .text1 {
        font-size: calc-em(32);
        display: block;
        line-height: 0.8;
    }

    .text2 {
        font-size: calc-em(14);
        line-height: 1.1;
    }

    .text3 {
        font-size: calc-em(21);
        line-height: 1;
    }

    @include nonMobile {
        .text1 {
            font-size: calc-em(66);
        }

        .text2 {
            font-size: calc-em(28);
        }

        .text3 {
            font-size: calc-em(42);
        }
    }

    .text2,
    .text3 {
        display: inline-block;
        vertical-align: top;
    }
}

.header__subtitle {
    font-weight: 300;
    margin-top: 0;
    max-width: 200px;
    font-size: calc-em(14);

    @include nonMobile {
        font-size: calc-em(28);
        max-width: 400px;
    }
}

.header__image {
    display: block;
    position: relative;
    transform: translate(-5%, -10%);
    transition: transform .25s ease-in-out;

    @include nonMobile {
        width: 70%;
        position: absolute;
        top: 200px;
        transform: translate(-20%, 0);
    }

    @include desktop {
        transform: translate(-15%, 0);
    }

    @include lgDesktop {
        transform: translate(-10%, -10%);
    }
}

.box {
    @include clearfix();

    @include tablet {
        margin-top: 20px;
    }

    @include desktop {
        margin-top: 60px;
    }

    .coin {
        position: relative;
        z-index: 2;
        width: 40%;
        margin-top: -40px;
        margin-bottom: -10px;
        float: right;
        clear: both;

        @include nonMobile {
            margin-top: 0;
            margin-bottom: -20px;
        }
    }
}

.box__content {
    width: 100%;
    max-width: 790px;
    position: relative;
    clear: both;
    background: {
        image: url('../images/box.jpg');
        repeat: no-repeat;
        size: cover;
    }
    min-width: 300px;

    @include mobile {
        left: 50%;
        transform: translateX(-50%);

        max-width: 360px;
    }

    @include desktop {
        float: right;

        &:before {
            content: '';
            display: block;
            float: left;
            width: 297px;
            height: 183px;
            z-index: 2;
            margin-top: -20px;
            transform: translateX(-100%);
            background: {
                image: url('../images/flower.png');
                repeat: no-repeat;
                size: cover;
            }
        }
    }

    &:after {
        content: '';
        display: block;
        padding-top: 32.65%;
    }

    @include desktop {
        width: 70%;
    }

    .box__text {
        position: absolute;
        left: 0;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        margin: auto;
        text-align: center;
    }

    .text {
        text-transform: uppercase;
        font-size: calc-em(16);
        font-weight: bold;
        line-height: 1;
        padding: 0 10px;

        @include nonMobile {
            font-size: calc-em(30);
            padding: 0 20px;
        }

        @include lgDesktop {
            font-size: calc-em(36);
        }
    }

    .text,
    .plus {
        display: inline-block;
        vertical-align: middle;
        color: $yellow;
    }

    .plus {
        font-size: calc-em(20);
        font-weight: bold;

        @include nonMobile {
            font-size: calc-em(50);
        }
    }

    .cost {
        display: block;
        font-size: 1.4em;

        sup {
            top: -0.25em;
        }
    }
}

.promotion {
    margin: 20px 0;

    @include desktop {
        float: left;
        margin-top: 160px;
    }

    span {
        display: block;
        text-align: center;
        color: #555555;
        font-size: 1.25em;

        @include nonMobile {
            font-size: 1.5em;
        }
    }

    .text {
        font-weight: bold;
        font-size: 1.625em;
    }
}

main {
    margin: 20px 0;
}

.up {
    position: relative;
    display: inline-block;

    &:after {
        content: '';
        display: block;
        position: absolute;
        left: 0;
        top: 50%;
        width: 100%;
        height: 2px;
        background: $red;
        transform-origin: center;
        transform: rotateZ(-5deg);
    }
}

.product {
    @include clearfix();
    margin: 15px 0;
}

.product__title {
    margin: 5px 0;
    line-height: 1.2;
    width: 55%;
    float: right;

    @include tablet {
        width: 40%;
    }
}

.product__image {
    width: 55%;
    margin-left: -10%;
    float: left;

    img {
        width: 100%;
    }

    @include tablet {
        width: 65%;
    }
}

.product__price {
    width: 55%;
    float: right;
    line-height: 1;

    @include tablet {
        width: 40%;
    }

    @include desktop {
        padding-right: 40px;
    }

    .cost {
        font-size: calc-em(32);
        margin-bottom: 5px;
        display: inline-block;
        color: #231f20;

        sup {
            top: -0.25em;
            font-size: 0.5em;

            &.smaller {
                font-size: 0.35em;
                top: -1.25em;
                margin-left: -1em;
            }
        }

        sub {
            margin-left: -0.5em;
            font-size: 0.5em;
            bottom: -0.125em;
        }

        @include nonMobile {
            font-size: calc-em(50);
        }
    }

    .up {
        display: inline-block;
        margin: 0 0 20px;
        font-size: calc-em(16);
    }
}

.product-table__title {
    text-align: center;
    text-transform: uppercase;
    color: $bodycolor;
    margin-top: 50px;
}

.product-table {
    .title {
        margin-top: 20px;
    }

    span {
        display: inline-block;
    }
}

.product-table--mobile {
    margin: 10px 0;

    th {
        background: $salmon;
        color: $white;
        width: 50%;

        &:first-child {
            min-width: auto;
        }
    }

    th, td {
        border: 0;
        padding: 10px;
    }
}

@keyframes glowing {
    0% { opacity: 1.0; }
    50% { opacity: 0.5; }
    100% { opacity: 1.0; }
}

table {
    color: $bodycolor;
    font-size: 0.8em;

    a {
        display: block;
        font-size: 0.75em;
        color: $white;
        text-transform: capitalize;
        font-weight: 400;
        animation: glowing 1s infinite;
    }

    @include desktop {
        font-size: 1em;
    }

    th:first-child {
        min-width: 200px;
    }

    .up {
        font-size: 0.825em;

        &:after {
            height: 1px;
        }
    }

    th, td {
        padding: 0 5px;
        border: 2px solid transparent;
        line-height: 1.3;
    }

    th {
        text-align: left;
        border-top-width: 15px;
        border: 2px solid $bgcolor;
    }

    @at-root .product-table .title,
    th[colspan] {
        background: $pink;
        color: $white;
        padding: 5px 10px 5px 15px;
        position: relative;

        h3 {
            margin: 0;
            font-size: calc-em(18);

            @include nonMobile {
                font-size: calc-em(21);
            }
        }

        &:before {
            content: '';
            display: block;
            position: absolute;
            left: 0;
            top: 50%;
            transform: translate(-80%, -50%);
            width: 54px;
            height: 45px;
            background: {
                image: url('../images/btn-flower.png');
                repeat: no-repeat;
                size: cover;
            }
        }

    }

    thead {
        th {
            background: $salmon;
            color: #fff;
            padding: 10px;
            text-transform: uppercase;
            text-align: center;
            border-top-width: 0px;
        }
    }
}

footer {
    margin: 50px 0 20px;
    border-top: 5px solid $salmon;
    text-align: center;
}

.footer__btn {
    color: $white;
    text-transform: capitalize;
    display: inline-block;
    font-size: calc-em(21);
    margin-top: -20px;
    margin-bottom: 20px;
    position: relative;
    font-weight: bold;
    transition: background .25s ease-in-out;
    background: linear-gradient(to right, $red 0%, $orange 0%);

    &:hover,
    &:focus {
        .text:after,
        .before:after,
        .after:after {
            transform: scaleX(1);
        }

        .text:after {
            transition: transform .25s .05s ease-in-out;
        }

        .before:after {
            transition: transform .1s ease-in-out;
        }

        .after:after {
            transition: transform .1s .25s ease-in-out;
        }
    }

    @include nonMobile {
        font-size: calc-em(28);
        margin-top: -15px;
    }

    .text {
        background: linear-gradient(to right, $red 0%, $orange 100%);
        border: 4px solid $bgcolor;
        padding: 7px 15px;
        display: inline-block;
        position: relative;
        z-index: 2;

        span {
            position: relative;
            z-index: 3
        }

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background: $red-hover;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform .25s .1s ease-in-out;
        }
    }

    .before,
    .after {
        width: 50px;
        height: 40px;
        top: 0;
        position: absolute;
        z-index: 1;

        &:before {
            content: '';
            display: block;
            width: 0;
            height: 0;
            border-top: 20px solid transparent;
            border-bottom: 20px solid transparent;
            position: absolute;
            top: 0;
            z-index: 2;
        }

        &:after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            position: absolute;
            background: $red-hover;
            transform: scaleX(0);
            transform-origin: left;
            transition: transform .1s ease-in-out;
            z-index: 1;
        }
    }

    .before {
        background: $red;
        left: 0;
        transform: translate(-30px, -5px);

        &:before {
            border-left: 10px solid $bgcolor;
            left: 0;
        }

        &:after {
            transition: transform .1s .3s ease-in-out;
        }
    }

    .after {
        background: $orange;
        right: 0;
        transform: translate(30px, -5px);

        &:before {
            border-right: 10px solid $bgcolor;
            right: 0;
        }
    }
}

.intel,
.disclaimer {
    text-align: left;
}

.intel__image,
.intel__text {
    display: inline-block;
    vertical-align: bottom;
}

.intel__image {
    margin-right: 15px;

    @include mobile {
        width: 120px;
    }
}

.intel__text {
    font-size: calc-em(21);
    margin-top: 15px;
}

.disclaimer {
    font-size: 0.75em;
    line-height: 1.4;

    p {
        margin: 0.8em 0;
    }
}
