//- Custom Configuration
block config
	//- Setup site's base URL to match the "baseUrl" key within `package.json`
	//- Otherwise default to relative pathing
	- var baseUrl = config.baseUrl || './'

doctype html
<html lang='en'>

head
	meta(charset='utf-8')
	meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
	title lenovo
	meta(name='description', content= 'A new Yeogurt application')
	meta(name='viewport', content='width=device-width, initial-scale=1.0')
	block stylesheets
		link(rel='stylesheet', href= baseUrl + 'assets/styles/main.css')
	link(rel='shortcut icon', type='image/x-icon', media='all', href=baseUrl + 'favicon.ico')

	// Facebook Pixel Code
	script.
		!function(f,b,e,v,n,t,s)
		{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
		n.callMethod.apply(n,arguments):n.queue.push(arguments)};
		if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
		n.queue=[];t=b.createElement(e);t.async=!0;
		t.src=v;s=b.getElementsByTagName(e)[0];
		s.parentNode.insertBefore(t,s)}(window, document,'script',
		'https://connect.facebook.net/en_US/fbevents.js');
		fbq('init', '835849529912048');
		fbq('track', 'PageView');
	noscript
		img(height='1', width='1', style="display:none", src='https://www.facebook.com/tr?id=835849529912048&ev=PageView&noscript=1')
	// End Facebook Pixel Code

body
	//
		Start of DoubleClick Floodlight Tag: Please do not remove
		Activity name of this tag: Lenovo CNY_Landing Page
		URL of the webpage where the tag is expected to be placed: http://lenovosg-cny.com/
		This tag must be placed between the <body> and </body> tags, as close as possible to the opening tag.
		Creation Date: 01/08/2018
	script(type='text/javascript').
		var axel = Math.random() + "";
		var a = axel * 10000000000000;
		document.write('<iframe src="https://8049408.fls.doubleclick.net/activityi;src=8049408;type=cny;cat=lenov0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=' + a + '?" width="1" height="1" frameborder="0" style="display:none"></iframe>');
		function callFloodlight_new(type, cat) {
		var axel = Math.random()+"";
		var a = axel * 10000000000000000;
		var tag_url = "https://8049408.fls.doubleclick.net/activityi;src=8049408;type=" + type + ";cat=" + cat + ";dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=" + a + "?";
		if (document.getElementById("DCLK_FLDiv")) {
		var flDiv = document.getElementById("DCLK_FLDiv");
		} else {
		var flDiv = document.body.appendChild(document.createElement("div"));
		flDiv.id = "DCLK_FLDiv";
		flDiv.style.display = "none";
		}
		var DCLK_FLIframe = document.createElement("iframe");
		DCLK_FLIframe.id = "DCLK_FLIframe_" + Math.floor(Math.random() * 999999);
		DCLK_FLIframe.src = tag_url;
		flDiv.appendChild(DCLK_FLIframe);
		}
		function callFloodlight_same(type, cat) {
		var axel = Math.random()+"";
		var a = axel * 10000000000000000;
		var tag_url = "https://8049408.fls.doubleclick.net/activityi;src=8049408;type=" + type + ";cat=" + cat + ";dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=" + a + "?";
		if (document.getElementById("DCLK_FLDiv")) {
		var flDiv = document.getElementById("DCLK_FLDiv");
		} else {
		var flDiv = document.body.appendChild(document.createElement("div"));
		flDiv.id = "DCLK_FLDiv";
		flDiv.style.display = "none";
		}
		var DCLK_FLIframe = document.createElement("iframe");
		DCLK_FLIframe.id = "DCLK_FLIframe_" + Math.floor(Math.random() * 999999);
		DCLK_FLIframe.src = tag_url;
		flDiv.appendChild(DCLK_FLIframe);
		var link = document.getElementsByClassName(".footer__btn").getAttribute("href");
		setTimeout("window.location.href = " + link + ";", 1000);
		}
	noscript
		iframe(src='https://8049408.fls.doubleclick.net/activityi;src=8049408;type=cny;cat=lenov0;dc_lat=;dc_rdid=;tag_for_child_directed_treatment=;ord=1?', width='1', height='1', frameborder='0', style='display:none')
	// End of DoubleClick Floodlight Tag: Please do not remove


	block content

</html>
