extends _layouts/base

block content
    header
        a.logo(href='https://www3.lenovo.com/sg/en/')
            img.logo__img(src='./assets/images/lenovo.jpg')
        .container
            .header
                h1.header__title
                    span.text1 Spring
                    span.text2 Into
                    span.text3 Spring
                h2.header__subtitle
                    | Welcome a new year of prosperity with cashback rewards
                img.header__image(src='./assets/images/laptop.png')
            .box
                img.coin(src='./assets/images/coin.png')
                .box__content
                    .box__text
                        span.text.text1
                            span
                                | Ang Bao
                                br
                                | Cashback
                                br
                                | up to
                            span.cost
                                sup $
                                | 168
                        span.plus +
                        span.text.text2
                            span
                                | 2 years
                                br
                                | premium care
                                br
                                | worth up to
                            span.cost
                                sup $
                                | 248
                .promotion
                    span.text Promotion Period
                    span.duration 12 Jan - 28 Feb 2018

    main
        section.section-products
            .container
                .row
                    .col-xs-12.col-sm-12.col-md-6
                        .product
                            h1.product__title
                                span.vh Yoga720
                                img(src='./assets/images/yoga-name.png', alt='Yoga720')
                            .product__image
                                img(src='./assets/images/yoga-laptop.png', alt='Yoga720 Laptop')
                            .product__price
                                span.cost
                                    sup $
                                    strong 1,911
                                span.up
                                    | (U.P.&nbsp;
                                    sup $
                                    | 1,999)
                                img(src='./assets/images/yoga-angbao.png', alt='Angbao Cashback $88 + 2yrs Premiumcare $248')
                            .product__spec
                                img(src='./assets/images/yoga-spec.png', alt='Yoga720 Spec')
                    .col-xs-12.col-sm-12.col-md-6
                        .product
                            h1.product__title
                                span.vh ideapad320s
                                img(src='./assets/images/ideapad-name.png', alt='ideapad320s')
                            .product__image
                                img(src='./assets/images/ideapad-laptop.png', alt='ideapad320s Laptop')
                            .product__price
                                span.cost
                                    sup.smaller From
                                    sub $
                                    strong 1,311
                                span.up
                                    | (U.P.&nbsp;
                                    sup $
                                    | 1,199)
                                img(src='./assets/images/ideapad-angbao.png', alt='Angbao Cashback $68 + 2yrs Premiumcare $248')
                            .product__spec
                                img(src='./assets/images/ideapad-spec.png', alt='ideapad320s Spec')
                .btn-container
                    a.btn(href='http://bit.ly/2qOUkjh', onclick="callFloodlight_new('cny', 'lenov000')", target='_blank')
                        span Click here to download the flyer
                .product-table
                    h2.product-table__title Participating products
                    .mobile-only
                        each item in site.data.table
                            .title
                                h3=item.name
                            each childItem in item.children
                                table.product-table--mobile
                                    tr
                                        th Product Name
                                        td!=childItem.name
                                    tr
                                        th Mtm Number
                                        td=childItem.number
                                    tr
                                        th SRP after Cashback
                                        td
                                            span=childItem.price
                                            | &nbsp;
                                            span.up=childItem.up
                                    tr
                                        th Ang Bao Cashback
                                        td=childItem.cashback
                                    tr
                                        th
                                            | Premium Care
                                            a(href="https://www3.lenovo.com/sg/en/premiumcare/?ipromoID=sg_pub_tbanner_premiumcare", target="_blank") Learn more
                                        if childItem.premiumcare == '-'
                                            td.align-center=childItem.premiumcare
                                        else
                                            td=childItem.premiumcare
                    table.no-mobile
                        thead
                            tr
                                th(width="30%") Product Name
                                th Mtm Number
                                th SRP after Cashback
                                th(width="15%") Ang Bao Cashback
                                th
                                    | Premium Care
                                    a(href="https://www3.lenovo.com/sg/en/premiumcare/?ipromoID=sg_pub_tbanner_premiumcare", target="_blank") Learn more
                        tbody
                            each item in site.data.table
                                tr
                                    th(colspan='5')
                                        h3=item.name
                                each childItem in item.children
                                    tr
                                        td!=childItem.name
                                        td=childItem.number
                                        td
                                            span=childItem.price
                                            | &nbsp;
                                            span.up=childItem.up
                                        td=childItem.cashback
                                        if childItem.premiumcare == '-'
                                            td.align-center=childItem.premiumcare
                                        else
                                            td=childItem.premiumcare

    footer
        .container
            a.footer__btn(href='https://www3.lenovo.com/sg/en/partner/bplocator/', onclick="callFloodlight_same('cny', 'lenov00')")
                span.before
                span.text
                    span Where to buy
                span.after
            .intel
                img.intel__image(src='./assets/images/intel.jpg')
                span.intel__text
                    | Powered by 8th Generation Intel® Core™ i7 Processor.
                    br
                    | Intel Inside®. Extraordinary Performance Outside.
            .disclaimer
                p Lenovo, the Lenovo logo, are trademarks or registered trademarks of Lenovo. 2018 Lenovo. All rights reserved. Intel, the Intel Logo, Intel Inside, Intel Core, and Core Inside are trademarks of Intel Corporation in the U.S. and/or other countries.
                p Every effort has been made to check for accuracy. Lenovo will not be liable for any inadvertent error which may occur in editorial or typography in this advertisement. All images are for illustrative purpose only.
